<ion-view title="License Key Time" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="licenseKeyTime-button-bar4" class=" button-bar ">
            <a ui-sref="side-menu21.licenseKeyFeature" id="licenseKeyTime-button10" class=" button button-dark  button-block ">Feature</a>
            <button id="licenseKeyTime-button12" class=" button button-balanced  button-block ">Time</button>
        </div>
        <ion-list id="licenseKeyTime-list12" class=" ">
            <ion-item class="balanced  " id="licenseKeyTime-list-item30">25/05/16
                <span class="item-note">Last Updated</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item31" class="  ">22/05/16
                <span class="item-note">Core</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item32" class="  ">22/05/16
                <span class="item-note">Core</span>
            </ion-item>
        </ion-list>
        <ion-list id="licenseKeyTime-list13" class=" ">
            <ion-item id="licenseKeyTime-list-item40" class="  ">18/03/16
                <span class="item-note">Implementation</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item41" class="  ">12/04/15
                <span class="item-note">Core</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item42" class="  ">12/02/15
                <span class="item-note">Production</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item43" class="  ">07/02/15
                <span class="item-note">Production</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item44" class="  ">02/02/15
                <span class="item-note">Production</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item45" class="  ">12/01/15
                <span class="item-note">Production</span>
            </ion-item>
            <ion-item id="licenseKeyTime-list-item46" class="  ">22/01/14
                <span class="item-note">Production</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>